
@{
    ViewBag.Title = "progDemo";
}

<h2>progDemo</h2>

<form method="post">
    <p>
        輸入數字：
    </p>
    <p>
        <input type="text" name="txtA" width="50" /><span>X2+</span>
        <input type="text" name="txtB" width="50" /><span>X+</span>
        <input type="text" name="txtC" />=
        <span>0</span>
        
    </p>
    <p>
        <input type="submit" value="OK" /><span>@ViewBag.KK</span>
    </p>
</form>