
@{
    ViewBag.Title = "fileUploadDemo";
}

<h2>檔案上傳</h2>

<p>
    <form enctype="multipart/form-data" method="post">
        <input name="txtPhoto" type="file" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="上傳" class="btn btn-default" />
            </div>
        </div>
    </form>
</p>

